section{
    margin: 4rem auto;
}

.item img{
    display: block;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

/*========================*/
/*=======RESPONSIVE=======*/
/*========================*/

