section{
    padding: 3rem 0 3rem 0;
}
#map_canvas {
    width: 500px;
    height: 400px;
    float: right;
}
.info{
    display: inline-block;
    /*width: 40%;*/
    float: left;
    vertical-align: top;
}
.info h1{
    margin-top: 0;
}
.info div{
    margin-top: 5rem;
}
.info div div, p{
    /*display: inline-block;*/
}
.right{
    /*float: right;*/
    vertical-align: top;
    margin-top: 0 !important;
}
.map{
    display: inline-block;
    /*width: 59%;*/
    float: right;
    text-align: right;
}
.map iframe{
	width:700px;
	height:600px;!important
}

@media all and (min-width: 641px) and (max-width: 1260px) {
    .info, .map{
        /*display: block;*/
        /*width: 100%;*/
    }
    #map_canvas{
        float: none;
        margin: 5rem auto;
    }
    .map iframe {
        width: 400px;
        height: 300px; !important
    }

}
@media all and (min-width: 300px) and (max-width: 870px) {
    .info, .map, .map iframe{
        display: block;
        width: 100%;
    }


}